<% include header %>

<h1>Start Contributing...</h1>
<hr>

<p>
  Hey there!<br/>
  We're really glad that you want to contribute to this cowork registry. But you need to request edit privileges from <a href="http://twitter.com/<%= masterAccount %>">@<%= masterAccount %></a> (just send a mention on Twitter and we'll get back to you).
</p>



<% include footer %>
