Website <a href="http://www.paulgraham.com/hp.html" target="_blank">hacked</a> together by <a href="http://amirrajan.net">Amir Rajan</a> |
Source is on <a href="https://github.com/amirrajan/coworkingdotcom">GitHub</a> |
Here is all the data as a <a href="/all">JSON payload</a> |
Don't be evil