<% include header %>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <div class="row" ng-app="App" ng-controller="AppCtrl">
    <h1>What is Coworking?</h1>
    <hr/>
    <p>
      The idea is simple: independent professionals and those with workplace
      flexibility work better together than they do alone. Coworking spaces are
      about community-building and sustainability. Participants agree to uphold
      the values set forth by the movement’s founders, as well as interact and share 
      with one another. We are about creating better places to work and as a result,
      a better way to work.
    </p>

    <div class="columns" ng-repeat="city in all" style="margin-bottom: 25px; padding-top: 5px; padding-bottom: 5px; padding-left: 10px; border-left: solid 1px silver;">
      <span style="font-size: 25px">{{city | citystring}}</span>
      <a class="button small" ng-click="viewMap(city)" style="float: right; margin-bottom: 10px; padding: 10px" href="#">view map</a>
      <hr style="margin: 0px" />

      <div style="margin-bottom: 10px;" ng-repeat="loc in city.locations | orderBy:random">
        <h4><a href="{{loc.url}}" target="_blank">{{loc.name}}</a></h4>
        {{loc.address}}
      </div>
    </div>
  </div>

  <script>
    function drawMap(locations) {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var infowindow = new google.maps.InfoWindow();

      var LatLngList = [];

      for (i = 0; i < locations.length; i++) {  
        var loc = JSON.parse(JSON.stringify(locations[i]));
        if(loc.lat && loc.lng) {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(loc.lat, loc.lng),
            map: map
          });

          LatLngList.push(marker.position);

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              var loc = locations[i];
              infowindow.setContent(loc.name + "<br/><a target='_blank' href='https://www.google.com/maps/place/" + loc.address + "'>" + loc.address + "</a>");
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
      }

      var bounds = new google.maps.LatLngBounds ();

      for (var i = 0, LtLgLen = LatLngList.length; i < LtLgLen; i++) {
        bounds.extend (LatLngList[i]);
      }

      map.fitBounds(bounds);
    }

    function query() {
        var result = {}, keyValuePairs = location.search.slice(1).split('&');

        keyValuePairs.forEach(function(keyValuePair) {
            keyValuePair = keyValuePair.split('=');
            result[keyValuePair[0]] = keyValuePair[1] || '';
        });

        return result;
    }

    var app = angular.module('App', []);

    app.filter("citystring", function() {
      return function(city) {
        if(city.state) {
          return city.city + ", " + (city.state || "(none)") + ", " + city.country;
        } else {
          return city.city + ", " + city.country;
        }
      };
    });

    app.controller("AppCtrl", function($scope, $http) {
        $scope.random = function(loc){
            return loc.order;
        };

        var getAll = function(id) {
          $http.get("/all").success(function(data) {
            _.each(data, function(city) {
              _.each(city.locations, function(loc) {
                loc.order = Math.random();
              });
            });

            $scope.all = data;
          });
        };

        $scope.viewMap = function(city) {
          $("#map").html('');
          $('#mapmodal').foundation('reveal', 'open');
          setTimeout(function() {
            drawMap(city.locations);
          }, 2000);
        };

        getAll();
    });
  </script>

  <div id="mapmodal" class="reveal-modal small" data-reveal="data-reveal">
    <div id="map" style="margin: 30px; width: 90%; height: 430px;"></div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
<% include footer %>
