<% include header %>

  <div ng-app="App" ng-controller="AppCtrl">
    <h1>History</h1>
    <hr />
    <div class="row" ng-repeat="entry in history | orderBy:enryDate" style="padding-bottom: 10px; margin-bottom: 10px; border-bottom: solid 1px silver;">
      <img class="columns large-2 small-2" src="{{entry.audit.by.avatar}}" style="width: 50px; height: 50px; padding: 3px; border: solid 1px silver;" /> 
      <div class="columns large-8 small-8">
        {{entry.audit.by.username}}<br/>
        {{entry.audit.type}} - {{entry.audit.date || ""}}<br/>
        {{entry | detailstring}}
      </div>
      <a href="#" ng-show="canUndo(entry)" ng-click="undo(entry)" class="button tiny columns large-2 small-2">undo delete</a>
    </div>
  </div>

  <script>
    function query() {
        var result = {}, keyValuePairs = location.search.slice(1).split('&');

        keyValuePairs.forEach(function(keyValuePair) {
            keyValuePair = keyValuePair.split('=');
            result[keyValuePair[0]] = keyValuePair[1] || '';
        });

        return result;
    }

    var app = angular.module('App', []);

    app.filter("detailstring", function() {
      return function(entry) {
        if(entry.audit.type == "cityentry" || entry.audit.type == "citydelete") {
          return entry.details.city + ", " + (entry.details.state || "(none)") + ", " + (entry.details.country || "(none)") + ", " + (entry.details.coordinator || "(none)");
        } else {
          return entry.details.name + ", " + (entry.details.address || "(none)") + ", " + (entry.details.url || "(none)");
        }
      };
    });

    app.controller("AppCtrl", function($scope, $http) {
        var getAll = function(id) {
          $http.get("/history").success(function(data) {
            $scope.history = data;
          });
        };

        $scope.canUndo = function(entry) {
          return entry.audit.type == "citydelete" || entry.audit.type == "locationdelete";
        };

        $scope.undo = function(entry) {
          if(entry.audit.type == "citydelete") {
            $http.post("/city", entry.details)
             .success(function(data) { getAll(); });
          } else if(entry.audit.type == "locationdelete") {
            $http.post("/location", entry.details)
             .success(function(data) { getAll(); });
          }
        };

        getAll();
    });
  </script>

<% include footer %>
